@mixin styles {
  .step-page {
    display: grid;
    gap: var(--space-xl);

    &__intro {
      display: grid;
      gap: var(--space-xs);

      p {
        max-inline-size: 48ch;
      }
    }

    &__form {
      display: grid;
      gap: var(--space-xl);
    }

    &__fields {
      display: grid;
      gap: var(--space-lg);
    }
  }
}
